extends layout 
block scripts 
    link(rel='stylesheet' href='stylesheets/bulletin.css')
block content 
    header 
    body
            main
                h1#bulletinBoardTitle #{bulletinBoardTitle}
                fieldset#bulletinBoardFieldset
                    .bulletinPosts
                        ul
                            each post in posts
                                fieldset#individualPosts
                                    h3 Name: #{post.name}
                                    if post.type == 'Event'
                                        p Type: Community Event
                                    else
                                        p Type: #{post.type}
                                    p Address: #{post.address}
                                    - var timestamp = post.time.toString()
                                    - var parts = timestamp.split(' ')
                                    - var date = parts.slice(0,4).join(' ')
                                    - var time = parts[4]
                                    p date: #{date}
                                    p time: #{time}
                                    p Info: #{post.content}
                                br
                br
                br
                if loggedIn
                    h1 #{makeAPostTitle}
                    form#makePostForm(action ="#" method = 'POST')
                        .formRow
                            label(for='postTypeInputLabel') Type: 
                            select#typeSelect(name='typeSelect')
                                option(value='Select Post Type') Select Post Type
                                option(value='Help') Help
                                option(value='Community Event') Community Event
                                option(value='Supplies') Supplies
                        br 
                        br
                        .formRow
                            label(for='postAddressInputLabel') Address:
                            input#postAddressInput(type='text' name='postAddressInput')
                        br
                        br
                        .formRow
                            label(for='eventDateLabel') Event Date:
                            input#eventDateInput(type='date' name='eventDateInput')
                        br
                        br
                        .formRow
                            label(for='eventTimeLabel') Event Time:
                            input#eventTimeInput(type='time' name='eventTimeInput')
                        br
                        br
                        .formRow
                            label(for='postContentInputLabel') Content:
                            textarea#postContentInput(name='postContentInput')
                        br
                        br
                        input#makePostBtn(type='submit' value='Post')
                    p.error #{error}
                        if fieldErrors
                            each fieldError in fieldErrors
                                p.error= fieldError